.welcome {
  text-align: center;

  &__title {
    color: darkgreen;
  }

  &__desc {
    font-style: italic;

    img {
      display: block;
      margin: 20px auto;
      width: 60px;
      height: 60px;
    }
  }
}
